.products-bg{
    margin-top: 120px;
    margin-bottom: 60px;
    background-image: url('../../assets/images/more/1.png');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 490px) {
    .products-bg{
        background: none;
    }
}