.footer-bottom-bg {
    background-image: url('../../assets/images/more/24.jpg');
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-border {
    border-radius: 5px;
}

.custom-border:focus {
    outline: 1.5px solid #E3B577;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-area {
    resize: none;
    height: 130px;
}