@tailwind base;
@tailwind components;
@tailwind utilities;

.rancho-regular {
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
}
.rancho-bold {
    font-family: "Rancho", cursive;
    font-weight: 600;
    font-style: normal;
}
.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  